#users, #chats, #table{
  overflow-y: scroll;
  position: relative;
  height: 200px;

}

#users{
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding-right:  2px;
  padding-left:  2px;
  background: #F5F5F5;
}

.icon-size{
  font-size: 3.5em;
}
#chats{
  border: 1px solid #D9E2EF;
  border-radius: 4px;
  padding-right:  2px;
  padding-left:  3px;
  background: #94A9E3;
}
.chat-icon{
  font-size:1.5em;
}

.chat-font{
  font-size:.7em;
}

.box-chat{
  border: 1px;
  background: #DED6D5;
  padding: 1px;
  margin-bottom: 2px;
}

.chat-selected {
  color: red;
}
/* General CSS Setup */

body {
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}


/* container */

.container {
  padding: 5% 5%;
}

.box-chat {
    background-color: #C3C9C1;
}

.bg-yellow{
  margin-left:3px;
}

.alb-table{
   display: table;
   border-collapse: separate;
  border-spacing: 1px;
}

.alb-row  {
    display: table-row;
}

.alb-left-cell, .alb-middle-cell, .alb-right-cell{
  display: table-cell;
  padding:1px;
}

.btn{
  float: right;
}

.nav-tabs-custom>.nav-tabs{
  margin-top:5px;
  .active{
    color: red;
  }
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
    font-weight: 800;
    font-color:#3c8dbc;
    background-color: gray;
}

.nav-tabs-custom>.tab-content {
    background: #F5F3F3;
    padding: 0px; 
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-tabs-custom>.nav-tabs>li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
    background-color: #FAEDC8;
}